<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
    </div>
  </div>
</nav>

<br></br>
<br></br>

{{!-- <h2>Login</h2>
<p>Please, enter your email and password to access your profile!</p>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="email" name="username" placeholder="Email">

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password"> 
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}

  <button>Login</button>
  
  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form> --}}

<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <!-- Default form login -->
      <form action="/auth/login" method="POST" id="form-container">
        <p class="h4 text-center mb-4">Log in</p>

        <!-- Default input email -->
        <label for="email" class="grey-text">Your email</label>
        <input id="email" type="email" name="username" class="form-control" required>

        <!-- Default input password -->
        <label for="password" class="grey-text">Your password</label>
        <input id="password" type="password" name="password" class="form-control" required> 
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <div class="text-center mt-4">
          <button class="btn btn-indigo" type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Default form login -->