
<h2>Login</h2>
<p>Please, enter your email and password to access your profile!</p>

<form action="/auth/login" method="POST" id="form-container">
  <label for="email">Email</label>
  <input id="email" type="email" name="username" placeholder="Email">

  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Your password">
  
  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Login</button>

  <p class="account-message">
    Don't have an account yet?
    <a href="/auth/signup">Signup</a>
  </p>
</form>
