<!-- views/auth/signup.hbs -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/">Home</a>
    </div>
  </div>
</nav>

<br><br>

{{!-- <h2>Signup</h2>

<form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
  
  <label for="email">Email</label>
  <input id="email" type="email" name="email" placeholder="Email" required>
    
  <br><br>

  <label for="password">Password</label>
  <input id="password" type="password" name="password" placeholder="Password" required>

  <br><br>

  <label for="name">Name</label>
  <input id="name" type="text" name="name" placeholder="Name" required>
  <input id="lastname" type="text" name="lastname" placeholder="Lastname" required>

  <br><br>

  <label for="address">Address:</label>
  <input id="street" type="text" name="street" placeholder="Street" required>
  <input id="city" type="text" name="city" placeholder="City" required>
  <input id="zip" type="text" name="zip" placeholder="Zip" required>
 
  <br><br>

  <label for="phone">Phone:</label>
  <input id ="phone" type="text" name="phone" placeholder="Phone" required>

  <br><br>

  <label for="isbabysitter">Do you want to be a nanny?</label>
  <input type="checkbox" name="isBabysitter" id="isBabysitter">

  <br><br>

  <label for="photo">Upload your photo</label>
  <input type="file" id="photo" name="photo">


  {{#if message }}
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Create account</button>

  <br><br>

  <p class="account-message">
    Do you already have an account?
    <a href="/auth/login">Login</a>
  </p>
</form> --}}

<!-- Default form register -->
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      <form action="/auth/signup" method="POST" id="form-container" enctype="multipart/form-data">
        <p class="h4 text-center mb-4">Sign up</p>

        <!-- Default input name -->
        <label for="name" class="grey-text">Your name</label>
        <input id="name" type="text" name="name" class="form-control" required>

        <!-- Default input lastname -->
        <label for="name" class="grey-text">Your lastname</label>
        <input id="name" type="text" name="lastname" class="form-control" required>

        <!-- Default input address -->
        <label for="address" class="grey-text">Your address:</label>
        <input id="street" type="text" name="street" placeholder="Street" class="form-control" required>
        <input id="city" type="text" name="city" placeholder="City" class="form-control" required>
        <input id="zip" type="text" name="zip" placeholder="Zip" class="form-control" required>

        <!-- Default input phone -->
        <label for="phone" class="grey-text">Your phone</label>
        <input id="phone" type="text" name="phone" class="form-control" required>

        <!-- Default input email -->
        <label for="email" class="grey-text">Your email</label>
        <input id="email" type="email" name="email" class="form-control" required>

        <!-- Default input password -->
        <label for="password" class="grey-text">Your password</label>
        <input type="password" id="password" name="password" class="form-control" required>

        <!-- Default input isBabySitter -->
        <label for="isbabysitter" class="grey-text">Do you want to be a nanny?</label>
        <input type="checkbox" id="isBabysitter" name="isBabysitter" class="form-control" required>

        <!-- Default input photo -->
        <label for="photo" class="grey-text">Upload your photo</label>
        <input type="file" id="photo" name="photo" class="form-control" required> {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}

        <div class="text-center mt-4">
          <button class="btn btn-unique" type="submit">Create account</button>
        </div>

        <p class="account-message">Do you already have an account?   <a href="/auth/login">Login</a></p>

      </form>
    </div>
  </div>
</div>
