<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand" href="/">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#unless user}}
      <a class="nav-item nav-link active" href="auth/login">Log In
        <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="auth/signup">Sign Up</a>
      {{/unless}} {{#if user}}
      <a class="nav-item nav-link" href="/auth/logout">Log Out</a>
      {{/if}}
    </div>
  </div>
</nav>
<div class=" container container_index1">
  <div class="row">
    <div>
       <img src="/images/logo_nanny.png" alt="">
    </div>
    <h1 class="title">Leave your children in good hands</h1>
  </div>
</div>
<div>
    <img class="baby" src="../images/free-babysitter-vector.webp" alt="">
    </div>
  


<div class="row">
  <div class="col-sm text-center margin">
    <i class="fas fa-glass-martini"></i>
    <h2>We are the best
    </h2>
    <p>Our nannies are happy to take care of your children and they are going to have a great time.</p>
  </div>
  <div class="col-sm text-center margin">
    <i class="fas fa-star"></i>
    <h2>Do not think about it</h2>
    <p>
Now you can have more time to do those activities that you could not before.</p>
  </div>
  <div class="col-sm text-center margin">
    <i class="fas fa-heart"></i>
    <h2>We adapt!</h2>
    <p>
We have all kinds of services: we move to your home for hours, you can bring your child to our premises or we can evaluate any option.</p>
  </div>
</div>

<!-- Footer -->
<footer class="page-footer font-small bg-info mdb-color lighten-3 pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate esse
            quasi, veritatis totam voluptas nostrum.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <a href="#!">PROJECTS</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">ABOUT US</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">BLOG</a>
              </p>
            </li>
            <li>
              <p>
                <a href="#!">AWARDS</a>
              </p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>

          <ul class="list-unstyled">
            <li>
              <p>
                <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
            </li>
            <li>
              <p>
                <i class="fa fa-envelope mr-3"></i> mybabbysitter@gmail.com</p>
            </li>
            <li>
              <p>
                <i class="fa fa-phone mr-3"></i> + 34 653 567 828</p>
            </li>
            <li>
              <p>
                <i class="fa fa-print mr-3"></i> + 34 634 467 594</p>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

          <!-- Social buttons -->
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us</h5>

          <!-- Facebook -->
          <a type="button" class="btn-floating btn-fb">
            <i class="fab fa-facebook"></i>
          </a>
          <!-- Twitter -->
          <a type="button" class="btn-floating btn-tw">
            <i class="fab fa-twitter-square"></i>
          </a>
          <!-- Google +-->
          <a type="button" class="btn-floating btn-gplus">
            <i class="fab fa-google-plus-square"></i>
          </a>
          <!-- Dribbble -->
          <a type="button" class="btn-floating btn-dribbble">
            <i class="fab fa-instagram"></i>
          </a>

        </div>
      

      </div>
     

    </div>
    
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/bootstrap-tutorial/"> Mybabysitter.com</a>
    </div>
   

  </footer>
  