<nav class="navbar navbar-expand-lg navbar-light bg-info fixed-top">
  <a class="navbar-brand" href="/">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/ad">View ads</a>
      <a class="nav-item nav-link" href="/user/profile">Profile</a>
      <a class="nav-item nav-link" href="/">Logout</a>
    </div>
  </div>
</nav>

<br>
<br>

<form action="/ad/new" class="created_ad_form map-form" method="POST">
  <div class="form-group">
    <label for="title">Title:</label>
    <input type="text" class="form-control" name="title" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" rows="3"  name="description" placeholder="Description"></textarea>
  </div>
  <div class="form-group">
    <label for="adDate">Date of service:</label>
    <input type="date" class="form-control" name="adDate">
  </div>
  <div class="form-group">
    <label for="fee">Fee:</label>
    <input type="text" class="form-control" name="fee" placeholder="Fee">
  </div>
  <div class="form-group">
    <label for="title">Address:</label>
    <input id="geocomplete" type="text" class="form-control" name='address' placeholder="Address" size="90"/>
  </div>
   
  <button type="submit" class="btn btn-primary">Create Ad</button>
</form>

<br>

<div class="map_container">
  <div class="map_canvas" style="height: 500px" id='map'></div>
  <pre id="logger">Log:</pre>
</div>


