<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">My Baby Sitter</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="auth/login"> Create ad <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="profile/edit/">Edit profile</a>
      <a class="nav-item nav-link" href="#">Logout</a>
    </div>
  </div>
</nav>
<div class="">
    <div>
       
        <img src="" alt="">
        <h1>{{name}}Name and Last name</h1>
        <p>Email: </p>
        <p>Adress: <span>street, city, zip</span></p>
        <p>Phone:</p>
       
        
    </div>
</div>
