body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#navbarNavAltMarkup {
  justify-content: flex-end;  
}

.container_index1 {
  display: flex;
}

.baby {
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

.title {
  text-align: center;
  margin-top: 50px;
}

.created_ad_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 35rem 0 35rem;
}

.map_form {
  display: flex;
  justify-content: center;
}

.map_container {
  height: 200px;
  justify-content: center;
  padding: 0 30rem 0 30rem;
}

.profile_container {
  display: flex;
  justify-content: center;
}

.form-container {
  margin: 0;
}


